.linha { display: flex; }

.App { 
    width: 600px; 
    margin: 30px auto; 
    padding: 20px;
    background-color: rgb(243, 193, 231);
}

label { width: 100px; display: inline-block;}
button { width: 26%; }

.Historico { font-size: 10px;}